# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Java
*.class
*.jar
*.war

# Logs
*.log
logs/
log/

# Environment
.env
.env.local
.env.*.local

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS artifacts
.DS_Store
Thumbs.db

# Swap files
*.swp
*.swo

# Misc
*.bak
*.tmp
*.old
*.orig
*.rej

# Node (bazı servislerde frontend olabilir)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*